#Banner { 
	color: #fff;
	display:block;
}
#Banner .yellow {
	color: #FFF000;
}
#Banner a {
	color: #fff;
	text-decoration: none;
}
#Banner a:hover {
	color: #eee;
}
#Banner h2 { 
	text-transform: uppercase;
	padding: 0 0 15px 0;
	font-size: 18px;
	font-weight: normal;
	font-family: verdana, arial, sans-serif;
	max-width: 250px;
	width: 250px;
	margin: 0;
}
[id]#Banner h2 {
	width: auto;
}
#Banner table {
	border-collapse: collapse;
	width: 100%;
	padding: 0;
	border: none;
}

#BannerEnergy {
	background-image: url(../images/banner_energy_2.jpg);
	background-repeat: no-repeat;
	background-position: top left;
}
#BannerEnergyBackground {
	background-image: url(../images/banner_energy_1.jpg);
	background-repeat: repeat-x;
	border-bottom: 1px solid #fff;
}
#BannerEnergyCurve {
	background-image: url(../images/banner_energy_3.jpg);
	background-repeat: no-repeat;
	background-position: top right;
	height: 196px;
}
#BannerEnergyText p,
#BannerEnergyLink p {
	margin: 0;
	padding: 0;
}
#BannerEnergyText {
	padding: 50px 10px 0 288px;
	height: 115px;
	overflow: hidden;
}
#BannerEnergyLink {
	padding: 9px 0 0 302px;
	overflow: hidden;
	height: 15px;
}
#BannerEnergyLink a:hover {
	color: #FFF000;
}

#BannerBulb {
	background-image: url(../images/banner_bulb_2.jpg);
	background-repeat: no-repeat;
	background-position: top left;
}
#BannerBulbBackground {
	background-image: url(../images/banner_bulb_1.jpg);
	background-repeat: repeat-x;
	border-bottom: 1px solid #fff;
}
#BannerBulbCurve {
	background-image: url(../images/banner_bulb_3.jpg);
	background-repeat: no-repeat;
	background-position: top right;
	height: 196px;
}
#BannerBulbText p,
#BannerBulbLink p {
	margin: 0;
	padding: 0;
}
#BannerBulbLink p {
	font-size: 13px;
}
#BannerBulbText {
	padding: 50px 10px 0 288px;
	height: 115px;
	overflow: hidden;
}
#BannerBulbText .title {
	max-width: 250px;
	width: 250px;
	font-size: 18px;
	text-transform: uppercase;
	padding: 0 0 15px 0;
}
[id]#BannerBulbText .title {
	width: auto;
}
#BannerBulbLink {
	padding: 9px 0 0 302px;
	overflow: hidden;
}
#BannerBulbLink a:hover {
	color: #FFF000;
}

#BannerBase {
	display: block;
	background-image: url(../images/banner_base_2.jpg);
	background-repeat: no-repeat;
	background-position: bottom left;
	height: 100px;
}
#BannerBaseBackground {
	background-image: url(../images/banner_base_1.jpg);
	background-repeat: repeat-x;
}

#BannerTube {
	display: block;
	background-image: url(../images/banner_tube_2.jpg);
	background-repeat: no-repeat;
	background-position: bottom left;
	height: 100px;
}
#BannerTubeBackground {
	background-image: url(../images/banner_tube_1.jpg);
	background-repeat: repeat-x;
	border-left: 1px solid #fff;
	border-right: 1px solid #fff;
}

#BannerDelivery {
	display: block;
	background-image: url(../images/banner_delivery_2.jpg);
	background-repeat: no-repeat;
	background-position: bottom left;
}
#BannerDeliveryBackground {
	background-image: url(../images/banner_delivery_1.jpg);
	background-repeat: repeat-x;
}
#BannerDeliveryCurve {
	display: block;
	background-image: url(../images/banner_delivery_3.jpg);
	background-repeat: no-repeat;
	background-position: bottom right;
	height: 100px;
}

/* New Banner Styling */
.dynamicSlideshow {
	position:relative;
	z-index: 0;
}

.leftCurve{
	background-image: url("../images/pods/BLT-CORNERS.png");
	background-position: -10px -10px;
    background-repeat: no-repeat;
    display: block;
    height: 25px;
    left: 0px;
    padding: 0 1px 1px;
    position: absolute;
    top: 0px;
    width: 25px;
    z-index: 2;}

.rightCurve{
	background-image: url("../images/pods	/BLT-CORNERS.png");
	background-position: -38px -10px;
    background-repeat: no-repeat;
    display: block;
    height: 25px;
    right: 0px;
    padding: 0 1px 1px;
    position: absolute;
    top: 0px;
    width: 25px;
    z-index: 2;}


.dynamicSlideshow .slideshowImage {
	max-height:300px;
	display:block;
	background-repeat:no-repeat;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	overflow:hidden;
	position:relative;
	height:300px;
	z-index:1;

	transition: height 0.5s, transform 0.5s;
	-moz-transition: height 0.5s, -moz-transform 0.5s;
	-webkit-transition: height 0.5s, -webkit-transform 0.5s;
	-o-transition: height 0.5s,-o-transform 0.5s;
}
.dynamicSlideshow img {
	position:relative;
	z-index:1;
	height:auto;
	display:block;
}
.dynamicSlideshow .slideshowLink {
	height:100%;
	position:absolute;
	width:100%;
	z-index:2;
	top:0;
	zoom:1;
	background-image:url(../images/blank.gif);
}
.dynamicSlideshow .slideshowButtons {
	bottom:20px;
	cursor:pointer;
	position:absolute;
	right:25px;
	z-index:3;
}
.dynamicSlideshow .slideshowButtons div {
	float:left;
}
.dynamicSlideshow .slideshowButtons a {
	background-image:url(../images/slideshow/unselected_banner.png);
	display:block;
	height:15px;
	width:18px;
}
.dynamicSlideshow .slideshowButtons a.selected {
	background-image:url(../images/slideshow/selected_banner.png);
}
.dynamicSlideshow .slideshowButtons a.previous {
	background-image:url(../images/slideshow/previous_banner.png);
	display:none;
}
.dynamicSlideshow .slideshowButtons a.next {
	background-image:url(../images/slideshow/next_banner.png);
	display:none;
}
