/* CSS Document */
div.gatewayBox{
	width:204px;
	float:left;
	background-repeat:repeat-y;
	color:#FFFFFF;
}
div.gatewayBox div.container{
	float:left;
	background-repeat:no-repeat;
	width:100%;
}

div.gatewayBox div.container div.title{
	float:left;
	padding:13px 15px 5px 20px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:18px;
}
div.gatewayBox div.container div.content{
	clear:both;
	margin-left:20px;
	float:left;
	width:163px;
	display:inline;
	height:100px;
}
div.gatewayBox div.container input.image,
div.gatewayBox div.container img.image{
	float:left;
	clear:both;
}
/*
	Login Box
*/
div#loginBox{
	background-color:#1378B7;
	background-image:url(../images/login/blueBox_bg.gif);
}
div#loginBox div.container{
	background-image:url(../images/login/blueBox_top.gif);
}
/*
	New Customer Box
*/
div#newCustomerBox{
	background-color:#00AE00;
	background-image:url(../images/login/greenBox_bg.gif);
}
div#newCustomerBox div.container{
	background-image:url(../images/login/greenBox_top.gif);
}
/*
	Express Box
*/
div#expressCheckoutBox{
	background-color:#FFA226;
	background-image:url(../images/login/orangeBox_bg.gif);
}
div#expressCheckoutBox div.container{
	background-image:url(../images/login/orangeBox_top.gif);
}