.MenuContainer {
	background-color:#fff;
	border-left:1px solid #51596A;
	border-right:1px solid #51596A;
	border-bottom:1px solid #51596A;
	display:none;
	margin:0;
	filter: alpha(opacity=95);
	-moz-opacity: 0.95;
	opacity: 0.95;
	background-image: url(../images/template/bg_menu_1.gif);
	background-position: bottom;
	background-repeat: repeat-x;
	z-index:10;
}
.MenuContainerSubMenu {
	border:1px solid #51596A;
	background-image: none;	
}
.MenuContainer ul {
	width:175px;
	margin:0;
	padding:0;
	font-size:10px;
	float:left;
}
.MenuContainer ul li {
	list-style:none;
	margin:0;
	padding:0;
	clear:both;
	float: left;
	text-align: left;
	width:100%;
	border-bottom:1px solid #ccc;
}
.MenuContainer ul li.last {
	border-bottom: 0px;
}
.MenuContainer ul li a,
.MenuContainer ul li a.out,
.MenuContainer ul li a:visited,
.MenuContainer ul li a:visited.out {
	text-decoration:none;
	color:#000;
	float:left;
	width:100%;
	cursor:pointer;
	position:relative;
	font-size: 1.1em;
	padding-top: 4px;
	padding-bottom: 4px;
}
.MenuContainer ul li a span.subMenuIcon,
.MenuContainer ul li a.out span.subMenuIcon {
	position:absolute;
	right:3px;
	background-repeat:no-repeat;
	width:10px;
	height:18px;
}
.MenuContainer ul li a span.capRight,
.MenuContainer ul li a span.capLeft {
	height:18px;
	width:3px;
}
.MenuContainer ul li a span.capLeft {
	float:left;
}
.MenuContainer ul li a span.capRight {
	position:absolute;
	right:0;
}
.MenuContainer ul li a span.label {
	line-height:18px;
	padding-left:5px;
	padding-right:5px;
	float:left;
}
.MenuContainer ul li a:hover,
.MenuContainer ul li a.over {
	text-decoration: none;
	background-color: #FEA630;
}