body {
	background-image: none;
	background-color: #fff;
	text-align: center;
	font-family: verdana, arial, helvetica, sans-serif;
	color: #000;
}
h1 {
	margin: 10px;
	font-family: arial, helvetica, sans-serif;
	font-size: 18px;
}
.logo img {
	padding: 10px;
}
.call {
	margin: 16px;
	font-size: 16px;
}
.call-number {
	font-size: 24px;
}
.buy {
	margin: 20px;
	font-size: 16px;
}
.buy-link {
	font-weight: bold;
	font-size: 18px;
}
.buy-link a {
	color: #ff5400;
}
.buy-link a:hover {
	color: #999;
}