.Tab {
	border-bottom:1px solid transparent;	
}
.TabHeader {
	border-bottom: 5px solid #FF9200;
}
.TabHeaderItem {
	float: left;
	width: 25%;
	background-repeat: repeat-x;
}
.TabHeaderItemLeft {
	background-repeat: no-repeat;
}
.TabHeaderItemRight {
	background-repeat: no-repeat;
}

.TabItemOff {
	background-position: bottom;
	background-image: url(../images/tab_header_off_3.gif);
	color: #7E7D7F;
}
.TabItemOff h3 {
	font-size: 12px;
	font-weight: normal;
	font-family: arial, sans-serif;
}
.TabItemOff a {
	color: #7E7D7F;
	display: block;
	overflow: hidden;
	height: 30px;
	cursor: pointer;
	padding: 0 10px 0 10px;
}
.TabItemOff .TabHeaderItemLeft {
	background-position: bottom left;
	background-image: url(../images/tab_header_off_1.gif);
}
.TabItemOff .TabHeaderItemRight {
	background-position: bottom right;
	background-image: url(../images/tab_header_off_2.gif);
	height: 30px;
	line-height: 30px;
	padding: 5px 0 0 0;
}
.TabItemOn {
	background-position: top;
	background-image: url(../images/tab_header_on_3.gif);
	color: #000;
}
.TabItemOn .label {
	font-size: 12px;
	font-weight: normal;
	font-family: arial, sans-serif;
}
.TabItemOn a {
	color: #fff;
	display: block;
	overflow: hidden;
	height: 35px;
	cursor: pointer;
	padding: 0 10px 0 10px;
}
.TabItemOn .TabHeaderItemLeft {
	background-position: top left;
	background-image: url(../images/tab_header_on_1.gif);
}
.TabItemOn .TabHeaderItemRight {
	background-position: top right;
	background-image: url(../images/tab_header_on_2.gif);
	height: 35px;
	line-height: 35px;
}
.TabItemOff .TabItemOffers {
	background-position: left center;
	background-image: url(../images/tab_header_offer_2.gif);
	background-repeat: no-repeat;
	height: 100%;
	padding: 0 0 0 25px;
	display:block;
}
.TabItemOn .TabItemOffers {
	background-position: left center;
	background-image: url(../images/tab_header_offer_1.gif);
	background-repeat: no-repeat;
	height: 100%;
	padding: 0 0 0 35px;
	display:block;
}
.TabItemOff .TabItemPopular {
	background-position: left center;
	background-image: url(../images/tab_header_popular_2.gif);
	background-repeat: no-repeat;
	height: 100%;
	padding: 0 0 0 25px;
	display:block;
}
.TabItemOn .TabItemPopular {
	background-position: left center;
	background-image: url(../images/tab_header_popular_1.gif);
	background-repeat: no-repeat;
	height: 100%;
	padding: 0 0 0 35px;
	display:block;
}
.TabItemOff .TabItemRecent {
	background-position: left center;
	background-image: url(../images/tab_header_recent_2.gif);
	background-repeat: no-repeat;
	height: 100%;
	padding: 0 0 0 25px;
	display:block;
}
.TabItemOn .TabItemRecent {
	background-position: left center;
	background-image: url(../images/tab_header_recent_1.gif);
	background-repeat: no-repeat;
	height: 100%;
	padding: 0 0 0 35px;
	display:block;
}
.TabContents {
	clear: both;
	background-color: #F0F0F0;
}
.TabContentsBorderLeft {
	background-position: left;
	background-repeat: repeat-y;
	background-image: url(../images/tab_border_1.gif);
}
.TabContentsBorderRight {
	background-position: right;
	background-repeat: repeat-y;
	background-image: url(../images/tab_border_1.gif);
}
.TabContentsBorderBottom {
	background-position: bottom;
	background-repeat: repeat-x;
	background-image: url(../images/tab_border_1.gif);
}
.TabContentsBorderBottomLeft {
	background-position: left bottom;
	background-repeat: no-repeat;
	background-image: url(../images/tab_border_2.gif);
}
.TabContentsBorderBottomRight {
	background-position: right bottom;
	background-repeat: no-repeat;
	background-image: url(../images/tab_border_3.gif);
	padding: 0 1px 1px 1px;
}
.TabContentsSection {
	background-color: #fff;
	border-bottom: 1px solid #C4C7CF;
	padding: 5px 15px;
	position: relative;
}

.TabContentsSection .leftBtn {
	width: 15px;
	height: 30px;
	position: absolute;
	top: 47%;
	left: -15px;
	background: url(../images/slider-buttons1.png) bottom left no-repeat;
	z-index: 2;
	cursor:pointer;
}

.TabContentsSection .rightBtn {
	width: 15px;
	height: 30px;
	position: absolute;
	top: 47%;
	right: -15px;
	background: url(../images/slider-buttons1.png) bottom right no-repeat;
	z-index: 2;
	cursor:pointer;
}

.TabContentsSection .leftBtn.active {
	background-position: top left;
}

.TabContentsSection .rightBtn.active {
	background-position: top right;
}

.TabContentsSection .mask {
	z-index: 1;
}

.TabContentsFooter {
	height: 32px;
	padding: 3px 10px 3px 10px;
}
.TabContentsFooter p {
	line-height: 32px;
	margin: 0;
	padding: 0;
	font-size: 11px;
	font-family: verdana, arial, sans-serif;
	color: #4D5464;
	text-align: center;
}
.TabContentsFooter a {
	color: #4D5464;
}
.TabContentsFooter a:hover {
	color: #FF9200;
}
.TabBodyItem {
	position: relative;
	width: 220px;
	height: 250px;
	float: left;
	padding: 25px 0;
}
.TabBodyItemLine {
	border-right: 1px solid #f4f4f4;	
}
.TabBodyItemImage {
	height: 100px;
	overflow: hidden;
	text-align: center;
}

.TabBodyItemText {
	height:60px;
	padding: 0 25px;
}

.TabBodyItemReview {
    height: 20px;
    margin-top: 20px;
    white-space: nowrap;
    padding: 0 25px;
}

.TabBodyItemPrice {
	height:50px;
	padding: 0 25px;
}
.TabBodyItemText p,
.TabBodyItemPrice p {
	padding: 0;
	margin: 0.4em;
}

.TabBodyItemText .title a
 {
 	font-size:12px;
	color:#000000
}
.TabBodyItemText .title a:hover
 {
	color:#3558AC
}

.TabBodyItemText .subTitle {
	color: #808080;
}
.TabBodyItemPrice {
	padding-top: 0.25em;
}
.TabBodyItemPrice .wasPrice,
.TabBodyItemPrice .price {
	color: #FF0000;
	font-weight: normal;
}
.TabBodyItemPrice .wasPrice {
	text-decoration: line-through;
}
.TabBodyItemPrice .price {
	float: left;
	font-size: 14px;
}
.TabBodyItemPriceBuy {
	float: right;
}
.TabBodyItemSave {
	position: absolute;
	top: 10px;
	right: 25px;
	background-image: url(../images/icon_save_1.gif);
	background-position: top right;
	background-repeat: no-repeat;
	width: 36px;
	height: 34px;
	color: #ff0000;
	font-size: 11px;
	text-align: right;
	padding: 5px 9px 0 34px;
}