@import url("i_forms.css");

body,td,th {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
}
body {
	background-color: #5C6B80;
	margin: 0;
}
label {
	font-weight: bold;
}
.splash {
	width:100%;
	height:270px;
	background-image: url(../images/bg_splash_1.gif);
	background-repeat: repeat-x;
}
.bubbles {
	padding: 10px;
}
.column {
	padding:20px 100px 0 100px;
	float:right;
	color:#ccc;
}