/*
	Links
*/

a.enquiryHiddenDocument,
a.enquiryHiddenDocument:visited,
a.enquiryHiddenDocument:active {
	color: #999;
}

a.enquiryHiddenDocument:hover {
	color: #000;
}


/*
	Spans
*/

span.enquiryLightText {
	color: #999;
}


/*
	Input
*/

input.btn {
	padding-right: 5px;
	padding-left: 5px;
}


/*
	Tables
*/

table.enquiryForm {
	width: 95%;
}

table.enquiryForm td {
	padding: 0 10px 0 0;
}

table td.enquiryBlock, .abandonedCartList {
	background-color: #eee;
	padding: 10px;
}


.messageCenter{
	width:75%;
	float: left;
}

.customerDetails{
	background-color: #F6F6F6;
    padding: 10px;
}

.contactInfo{
	margin-bottom: 10px;
}


.adminOptionbuttons{
	display: block;
    position: relative;
    left: 55px;
}


tr.cartLine td,
tr.cartTotals td{padding: 0px 15px;}
tr.subTotal td{padding: 20px 15px;}