/*
	i_content.css
	Product:	Ignition
	Version:	1.0
*/
.pageTitle{
	font-family:"Arial Unicode MS", Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#000000;
	font-weight:bold;
}

.pageDescription{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#636363;
}
h3{
	font-size:18px;
	font-weight:normal;
	font-family:Arial, Helvetica, sans-serif;
	margin:0;
	padding:0;
}
p{
	padding:0;
	margin:0;
	padding-bottom:15px;
}
/* 
	Data Tables 
*/
.DataTable,
.dataTable{
	border:1px solid #C9C9C9;
	width:100%;
}
.DataTable thead tr,
.dataTable thead tr{
	background-image:url(../images/bg_dataHead_1.gif);
	background-repeat:repeat-x;
}
.DataTable thead th,
.dataTable thead th,
.dataHeadOut,
.dataHeadOrdered,
.dataHeadOver{
	border-top:1px solid #E0E3E6;
	border-bottom:1px solid #C9C9C9;
	border-right:1px solid #9EA7B1;
	border-left:1px solid #E0E3E6;
	color:#243349;
	font-size:10px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-weight:bold;
	height:23px;
	padding:0 6px 0 6px;
	cursor:hand;
	text-align:left;
}

.dataTable tbody td{
	border-bottom:1px solid #C9C9C9;
	border-top:1px solid #ffffff;
	padding:4px 6px 4px 6px;
	color:#243349;
	cursor:hand;
	font-family:"Arial Unicode MS", Arial, Helvetica, sans-serif;
	font-size:12px;
}

.dataHeadOrdered{
	background-image:url(../images/bg_dataHead_2.gif);
	background-repeat:repeat-x;
	color:#CC3300;
}

.dataHeadOrdered,
.dataHeadOver{
	background-image:url(../images/bg_dataHead_2.gif);
	background-repeat:repeat-x;
}
.dataRow{
	background-color:#F1F1F1;
}
.dataRowOver{
	background:#E0E3E5;
}
.dataOrdered{
	background:#E0E3E5;
}
.iconOrdered{
	padding-left:10px;
	position:relative;
	top:1px;
}

/*
	Data Table Navigation
*/
.navCell_1,
.navCell_2{
	width:13px;
	height:25px;
	text-align:center;
	color:#243349;
}
.navCell_1 a,
.navCell_2 a{
	color:#243349;
	text-decoration:none;
}
.dataNav_1{
	border:1px solid #C9C9C9;
}
.dataNav_1 tr{
	background-color:#C6CBCF;
	background-image:url(../images/bg_dataNav_1.gif);
	background-repeat:repeat-x;
}
.dataNav_1 td{
	border-bottom:1px solid #9EA7B1;
	border-right:1px solid #C4C5C6;
	border-left:1px solid #E0E3E6;
	border-top:1px solid #ffffff;
	padding:0 8px 0 8px;
	font-size:10px;
}
.dataNav_1 td a{
	color:#243349;
}
.navCell_2{
	background-image:url(../images/bg_dataNav_2.gif);
	background-repeat:repeat-x;
	background-color:#FFBB8D;
}
.fade{
	color:#9EA7B1;
}

/*
	Window 1
	is based on a <div>
*/
.window_1{
	border:1px solid #C9C9C9;
	width:100%;
	padding:8px 10px 10px 10px;
	background-color:#C6CBCF;
	background-image:url(../images/bg_dataNav_1.gif);
	background-repeat:repeat-x;
	float:left;
	font-size:10px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-weight:bold;
}

.window_1 .settings{
	float:left;
	width:50%;
	background-color:#E0E3E5;
	margin:5px auto auto auto;
	padding:25px 25px 25px 25px;
	height:300px;
	font-weight:normal;
	border-left:1px solid #fff;
}

.window_1 .treeMenu .treeCell{
	width:100%;
	padding:5px;
}

.window_1 .settings .treeOption{
	padding:5px;
	/**/
	border:3px double #A9ACAE;
	background-image:url(../images/bg_option_1.gif);
	background-repeat:repeat-x;
	background-color:#E1E4E6;
}
.window_1 .settings .treeOption a:link,
.window_1 .settings .treeOption a:visited{
	text-decoration:none;
	color:#000000;
}
.window_1 .settings .treeOption a:hover{
	text-decoration:none;
	color:#FF3300;
}

/*
	Window 2
	is based on a <table>
*/
.window_2{
	width:100%;
	border:1px solid #C9C9C9;
	background-color:#C6CBCF;
	background-image:url(../images/bg_dataNav_1.gif);
	background-repeat:repeat-x;
}
.window_2 th{
	font-weight:bold;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	text-align:left;
	padding:8px 10px 10px 8px;
}
.window_2 td{
	padding:0 10px 10px 10px;
}

.window_2 .container{
	border:1px solid #B9BFC3;
	width:100%;
}

.window_2 .container th{
	background-color:#E0E3E5;
	font-weight:normal;
	padding:10px;
	border-bottom:1px solid #C6CBCF;
	border-top:1px solid #F1F3F5;
	text-align:left;
	width:100%;
}
.window_2 .container th.icon,
table.error th.icon{
	width:20px;
	max-width:20px;
	text-align:right;
	padding-right:0;
}

.window_2 .container td{
	background-color:#F1F3F5;
	font-weight:normal;
	border-top:1px solid #FFFFFF;
	border-bottom:1px solid #E0E3E5;
	padding:10px;
}
.window_2 .container .form{
	width:100%;
}
.window_2 .form td{
	border:0;
}

td.label{
	text-align:right;
	width:200px;
}
td.input{
	text-align:left;
}


table.error{
	border:1px solid #FFB4B4;
	background-color:#FFD6D6;
	width:100%;
	padding:10px;
}
table.error td{
	color:#D30C0C;
	padding:10px;
}
table.bubbleInfo{
	border:1px solid #F7DB5A;
	background-color:#FFF0AB;
	width:100%;
	padding:10px;
}
table.bubbleInfo td{
	padding:10px;
}

ul, ol{
	margin:0 auto auto auto;
}

/*
	Invoices
*/
table.invoiceAddresses{
	border:1px solid #aaaaaa;
}
table.invoiceAddresses td p{
	padding:0;
}
table.invoiceAddresses td{
	padding:10px;
	padding-right:15px;
}
table.invoiceAddresses td.change{
	padding:0 0 5px 10px;
}
table.invoiceAddresses td.shipping{
	background-color:#eeeeee;
}

table.invoicePaymentDetails{
	border:1px solid #aaaaaa;
}
table.invoicePaymentDetails td{
	padding:4px;
	text-align:left;
	border-bottom:1px dashed #eeeeee;
}
table.invoicePaymentDetails th{
	padding:4px;
	font-size:9px;
	text-align:right;
	font-weight:normal;
	color:#666666;
	background-color:#eeeeee;
}
table.orderDetails{
	width:100%;
}
table.orderTotals th,
table.orderDetails th{
	border-bottom:1px solid #999999;
	text-align:left;
}
table.orderDetails td,
table.orderTotals td{
	border-bottom:1px dashed #aaaaaa;
	padding:5px;
}

.alert{
	padding:4px;
	border:1px solid #C7C900;
	display:block;
	background-color:#FDFFA8;
}

.pageBreak{
	page-break-after:always;
}

/*
	Shopping Cart
*/
.miniCart{
	width:100%;
}
.miniCart td.subTotal,
.miniCart td.subTotalPrice,
.miniCart td.shipping,
.miniCart td.shippingPrice,
.miniCart td.tax,
.miniCart td.taxPrice,
.miniCart td.total,
.miniCart td.totalPrice,
.miniCart td.product,
.miniCart td.qty,
.miniCart td.price,
.manualOrderToolbox td.quickfind,
.manualOrderToolbox td.multiplier,
.manualOrderToolbox td.quantity,
.manualOrderToolbox td.add,
.miniCart td.buttons{
	border:0;
	font-size:10px;
	padding:4px;
}
.miniCart td.price{
	text-align:right;
}
.miniCart td.totalPrice,
.miniCart td.taxPrice,
.miniCart td.shippingPrice,
.miniCart td.subTotalPrice{
	text-align:right;
}
.manualOrderToolbox{
	width:100%;
}
.manualOrderToolbox td{
	font-size:10px;
	border:0;
}

table.productCategories{
	width:100%;
}
table.productCategories img{
	border:0;
}
table.productCategories td{
	text-align:center;
}

table.catProducts{
	width:100%;
	border:1px solid #B9BFC3;
}
table.catProducts img{
	border:0;
}
table.catProducts td{
	padding:4px;
	border-bottom:1px dashed #aaaaaa;
	padding-top:6px;
	padding-bottom:6px;
}
table.catProducts th{
	font-weight:bold;
	text-align:left;
	background-color:#C6CBCF;
	padding:5px;
	font-size:10px;
}
h3.productOptionGroup{
	background-color:#E0E3E5;
	border-bottom:1px solid #B9BFC3;
	padding:5px;
	font-size:11px;
	font-weight:bold;
	margin-top:15px;
}

table.checkoutSelectAddress{
	width:100%;
	border:1px solid #B9BFC3;
}
table.checkoutSelectAddress td{
	padding:10px;
}
table.checkoutSelectAddress td.billing{
	background-color:#E0E3E5;
}

table.form th{
	border-bottom:1px solid #aaaaaa;
	text-align:left;
	padding-bottom:5px;
}