<IfModule mod_rewrite.c>
	RewriteEngine On
	RewriteBase /
	RewriteRule ^(\.*(!\.(js|ico|gif|jpg|png|css)))$ ignition
</IfModule>

<ifmodule mod_security.c>
	SecFilterEngine Off
	SecFilterScanPOST Off
</ifmodule>

ErrorDocument 404 /ignition