
/* Calendar Top */

div#calendar-top table.calendar {
	width: 100%;
    border-collapse: collapse;
	empty-cells: show;
}

/* Calendar Bottom */

div#calendar-bottom {
	width: 100%;
	padding: 0 0 20px 0;
}
div#calendar-bottom p {
	font-size: 11px;
	font-family: arial, sans-serif;
	margin: 0.25em 0 1em 0;
}

div#calendar-bottom table.calendar {
	width: 100%;
	border-collapse: collapse;
	empty-cells: show;
}
div#calendar-bottom table.calendar th {
	text-align: center;
	font-family: verdana, arial, sans-serif;
	font-size: 11px;
	width: 14.28%;
	padding: 3px 0 7px 0;
}
div#calendar-bottom table.calendar td {
	padding: 0;
	width: 14.28%;
	vertical-align: top;
	background-color: #E1E4E9;
	color: #515151;
	font-size: 10px;
	font-family: arial, sans-serif;
}
div#calendar-bottom table.calendar td p {
	margin: 0;
}
div#calendar-bottom table.calendar td table td {
	font-size: 11px;
	vertical-align: middle;
}
div#calendar-bottom table.calendar td.void {
	background-color: #E0E0E0;
}
div#calendar-bottom table.calendar td.today {
	background-color: #F2F4F7;
}
div#calendar-bottom table.calendar td.holiday{
	background-color: #C9C9CC;
}
div#calendar-bottom table.calendar td.calendar-day {
	height: 100px;
	padding: 3px 7px 3px 7px;
}
div#calendar-bottom table.calendar td.day-standard {
	border: 1px solid #D1D2D3;
}