
/*
	Tables
*/

table tr.dataRowRed {
	background-color: #FF9494;
}

table tr.dataRowAmber {
	background-color: #FEDC93;
}

table tr.dataRowGreen {
	background-color: #A6FFA6;
}

table tr.dataRowRed td.dataOrdered {
	background-color: #FF7676;
}

table tr.dataRowAmber td.dataOrdered {
	background-color: #FFCA76;
}

table tr.dataRowGreen td.dataOrdered {
	background-color: #76FF76;
}