body{
	padding:0;
	margin:0;
	background-color:#222;
	font-family: verdana;
	font-size:10px;
	color:#aaaaaa;
}
#TitleArea,
#FooterArea{
	color:#aaa;
	padding:15px;
}
#FooterArea{
	padding:10px 15px 10px 15px;
}
#TitleArea{
	border-bottom:1px solid #666;
	position:relative;
}
#TitleArea ul.tabs{
	padding:0;
	margin:0;
	position:absolute;
	right:0;
	top:42px;
}
#TitleArea ul.tabs li{
	padding:0;
	margin:0;
	list-style:none;
	float:left;
	margin-left:2px;
}
#TitleArea ul.tabs li a{
	float:left;
	padding:5px;
	background-color:#333;
	text-decoration:none;
	color:#aaa;
}
#TitleArea ul.tabs li a:hover{
	background-color:#555;
	color:#ddd;
}
#TitleArea p{
	padding:0;
	margin:0;
	color:#666;
}
#TitleArea h1{
	font-weight:normal;
	font-family: 'Arial Narrow', Arial, Helvetica;
	font-size:18px;
	padding:0;
	margin:0;
}
#StackArea{
	background-color:#333;
}
#StackArea div.message{
	border-bottom:3px solid #444;
}
#StackArea textarea{
	border:1px dotted #444;
	background-color:transparent;
	font-family:courier;
	color:#aaa;
	font-size:9px;
}
#StackArea table{
	width:100%;
}
#StackArea table th{
	padding:4px;
	text-align:right;
}
#StackArea table td{
	padding:4px;
	vertical-align:text-top;
}
#StackArea table td.plus{
	background-color:#444;
	text-align:center;
	width:22px;
	vertical-align:text-top;
}
#StackArea table td.child{
	padding:0;
}
#FooterArea{
	border-top:1px solid #666;
	font-size:9px;
	color:#666;
}
#FooterArea table{
	width:100%;
}
#FooterArea a{
	color:#666;
	text-decoration:none;
}
#FooterArea a:hover{
	color:#ddd;
}

#StackArea table .over,
#StackArea table .over td.plus,
#StackArea table .over textarea{
	background-color:#555;
	color:#ddd;
}