/*
	Body & Html
*/
	:focus {
		outline: 0;
	}

	body{
		background-image:url(../images/template/bg_rightSide_2.gif);
		background-attachment:fixed;
		background-position:center;
		background-color:#E7EAF0;
		text-align:center;
		margin:0 auto auto auto;
	}
	iframe{
		border:0;
	}

	.clear{
		clear:both;
	}
	hr {
		border-bottom: 0px;
		border-top: 1px solid #FA8F00;
		height: 1px;
	}
	
	a img {
		border: none;
	}
	.third {
		width: 33.3%;
	}
/*
	Wrapper
*/
	#Wrapper{
		margin:0 auto auto auto;
		background-image:url(../images/template/bg_leftSide_2.gif);
		background-repeat:repeat-y;
		background-position:left;
		min-height:100%;
	}
	*html #Wrapper{
		height:100%;
	}

/*
	Links
*/
	a {
		color: #2A599D;
		text-decoration: none;
	}
	a:hover {
		text-decoration: none;
		color: #666666;
	}
/*
	Images
*/
	img{
		border:none;
	}
/*
	Headings
*/
	h1{
		font:Arial, Helvetica, sans-serif;
		font-size:18px;
		font-weight:normal;
		margin:0;
		padding:0;
	}
	h1.pageTitle{
		margin-top:15px;
	}
	h2{
		font-family:Arial, Helvetica, sans-serif;
		font-size:18px;
		font-weight:bold;
		margin:5px 0 5px 0;
	}	
	h3{
		font-family:Arial, Helvetica, sans-serif;
		font-size:14px;
		font-weight:bold;
		margin:0;
		padding:0;
	}
	h3.productOptionGroup{
		background-color:#E7EAF0;
		border-bottom:2px solid #C4C7CF;
		padding: 5px 0 5px 10px;
	}
	h3.blue{
		color:#2D588D;
		font-size:14px;
		font-family:Arial, Helvetica, sans-serif;
		font-weight:bold;
	}
	h3.grey{
		color:#444;
		font-size:14px;
		font-family:Arial, Helvetica, sans-serif;
		font-weight:bold;
	}
/*
	Paragraphs
*/
	p{
		margin:0;
		padding:0;
		padding-bottom:15px;
	}
/*
	Breadcrumbs
*/
	.breadcrumb{
		font-size:10px;
		color:#838383;
	}
	.breadcrumb a{
		color:#838383;
	}
	.breadcrumb a:hover{
		color:#2A599D;
		background-color:#DDEAFF;
	}

/*
	Header
*/
	#Header{
		height:138px;
		background-image:url(../images/template/bg_1.jpg);
		background-repeat:repeat-x;
		background-color:#DCE3EE;
	}
	#Header .logo{
		float:left;
		margin-bottom:2px;
	}
	#Header .callTag{
		position:absolute;
		top:47px;
		right:30px;
		width: 100%;
		text-align: right;
	}
	#Header ul.nav{
		margin:0;
		padding:0;
		display:inline;
		position:absolute;
		top:10px;
		right:16px;
		z-index:3;
		width:430px;
	}
	#Header #NavTop.warehouse{
		width:auto;
	}
	#Header ul.nav li{
		list-style:none;
		margin:0;
		padding:0;
		display:inline;
	}
	#Header ul.nav li a{
		margin-left:10px;
		display:inline;
		float:left;
		color:#000000;
		padding:5px 7px 5px 30px;
		background-repeat:no-repeat;
		white-space:nowrap;
	}
	#Header ul.nav li a:hover{
		background-color:#DBE8F2;
		border:1px solid #B6D1E6;
		padding:4px 6px 4px 29px;
	}
	#Header ul.nav li.login a{
		background-image:url(../images/template/icon_login_1.gif);
	}
	#Header ul.nav li.account a{
		background-image:url(../images/template/icon_myAccount_1.gif);
	}
	#Header ul.nav li.help a{
		background-image:url(../images/template/icon_help_1.gif);
	}
	#Header ul.nav li.contact a{
		background-image:url(../images/template/icon_contact_1.gif);
	}

/*
	Call Tag
*/
	.callTag{
		font-family:Arial, Helvetica, sans-serif;
		font-weight:bold;
		color:#3E62B5;
		font-size:11px;
	}
	.callTag .phone{
		font-size:12px;
		color:#212838;
	}

/*
	Nav Bar
*/
	#NavBar{
		margin:0 auto auto auto;
		clear:both;
		width:725px;
		border-left:1px solid #3252A7;
		border-right:1px solid #5773BA;
		height:26px;
		color:#ffffff;
	}
	#NavBar.warehouse{
		font-family:Arial, Helvetica, sans-serif;
		font-size:14px;
		font-weight:bold;
		font-style:italic;
		text-align:left;
		padding:5px 0 0 45px;
	}
	#NavBar ul{
		margin:0;
		padding:0;
		display:inline;
		width:489px;
	}
	#NavBar ul li{
		margin:0;
		padding:0;
		list-style:none;
		display:inline;
	}
	#NavBar ul li a,
	a.navBarLink{
		color:#FFFFFF;
		float:left;
		padding:6px 13px 7px 13px;
		border-right:1px solid #3252A7;
		border-left:1px solid #5773BA;
		margin:0;
		display:inline;
	}
	#NavBar ul li a:hover,
	a.navBarLinkOver,
	#NavBar ul li a.over{
		color:#000000;
		background-color:#F8F9FC;
		background-image:url(../images/template/bg_navBar_1.gif);
		background-repeat:repeat-x;
		border-left:1px solid #495163;
		border-right:1px solid #495163;
	}

/*
	Search Bar
*/
	#SearchBar {
		padding-top: 6px;
		font-size: 12px;
		color: #2E4E7C;
		height: 30px;
	}
	
	#SearchBar input.txt {
		width: 600px;
		border: 1px solid #5B7AA6;
		border-radius: 5px;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		font-size: 14px;
		font-weight: bold;
		font-family: arial, sans-serif;
		padding: 3px 5px;
	}

	#SearchBar input.button {
		font-size: 14px;
		font-weight: bold;
	}
	
	#SearchBar a {
		padding: 0 0 0 20px;
		font-size: 12px;
		font-weight: bold;
		font-family: arial, sans-serif;
		color: #2E4E7C;
	}

/*
	Forms
*/
	form{
		margin:0;
		padding:0;
		display:inline;
	}
	select,
	textarea{
		font-size:16px;
		font-family:Verdana, Arial, Helvetica, sans-serif;
		font-weight:normal;
		width:80%;
		border:solid 1px #006699;
		padding-top:3px;
		padding-bottom:3px;
	}
	.text{
		font-size:16px;
		font-family:Verdana, Arial, Helvetica, sans-serif;
		font-weight:normal;
		width:60%;
		border:solid 1px #006699;
		padding-top:3px;
		padding-bottom:3px;
	}
	input{
		font-size:16px;
		font-family:Verdana, Arial, Helvetica, sans-serif;
		font-weight:normal;
		width:80%;
	}
	.submit,
	.greySubmit,
	.smallBtn{
		background-image:url(../images/template/bg_btn_1.gif);
		background-repeat:repeat-x;
		background-color:#FC9002;
		border:1px solid #6F7687;
		font-size:14px;
		font-weight:bold;
		color:#000000;
		padding:4px 3px 4px 3px;
		margin-bottom:10px;
		margin-left:5px;
		width:70%;
	}
	.greySubmit{
		background-image:url(../images/template/bg_btn_grey_1.gif);
		background-color:#9AA1B2;
	}
	.smallBtn{
		font-size:9px;
		padding:1px 5px 0px 5px;
		background-image:url(../images/template/bg_btn_2.gif);
	}

	table.formContainer{
		border:0;
	}
	table.formContainer td{
		background-color:#E7EAF0;
		vertical-align:text-top;
	}
	table.form{
		width:100%;
	}
	table.form th,
	table.form td{
		padding:5px;
	}
	table.form td{
		background-color:#E7EAF0;
	}
	table.form th{
		border-bottom:1px solid #FA8F00;
		text-align:left;
		background-color:#D1D7E2;
		font-weight:bold;
		font-family:Arial, Helvetica, sans-serif;
		font-size:12px;
		color:#464D5F;
	}
	table.error{
		border:1px solid #FFC8C8;
		background-color:#FFF0F0;
		width:100%;
	}
	table.error td{
		padding:10px;
		text-align:left;
	}
/*
	Cap Top
*/
	#CapTop{
		position: relative;	
		background-image:url(../images/template/bg_capTop_1.gif);
		background-repeat:repeat-x;
		background-position:top;
		margin-left:153px;
		margin-right:145px;
		height: 14px;
	}
	#CapTop .curveLeft{		
		height:14px;
		width: 15px;
		position: absolute;
		left: 0;
		top: 0;
		background-image:url(../images/template/bg_capTopCurveLeft_1.gif);
		background-repeat:no-repeat;
		background-position:top left;
	}
	#CapTop .curveRight{		
		height:14px;
		width: 15px;
		position: absolute;
		right: 0;
		top: 0;
		background-image:url(../images/template/bg_capTopCurveRight_1.gif);
		background-repeat:no-repeat;
		background-position:top right;
	}

/*
	Page
*/
	#PageWrapper{
		margin:0;
		margin-left:159px;
		margin-right:151px;
		clear:both;
	}
	#Page{
		clear:both;
		margin:0;
		display:block;
		background-color:#ffffff;
		background-image:url(../images/template/bg_page_1.jpg);
		background-repeat:repeat-x;
		width:100%;
	}

/*
	Page Content
*/
#PageContent{
	text-align:left;
	display:block;
	padding:16px 20px 20px 20px;
}
#PageContent ul.warehouse{
	margin-left: 30px;
}
#PageContent ul.warehouse a{
	font-size: 12px;
	font-weight: bold;
}
#PageContent ul.warehouse a:hover{
	color: #FFA226;

}
/*
	Page Footer
*/
	#PageFooter{
		border-top:1px solid #FA8F00;
		clear:both;
		margin:0;
		background-color:#E7EAF0;
		text-align:left;
		font-size:10px;
		color:#1F2636;
		padding-top:15px;
		padding-bottom:15px;
		padding-left:16px;
		padding-right:16px;
	}
	#PageFooter ul.links{
		margin:0;
		padding:0;
		display:inline;
		padding-bottom:5px;
	}
	#PageFooter ul.links li{
		margin:0;
		padding:0;
		display:inline;
		list-style:none;
	}
	#PageFooter .links li a{
		margin:0;
		padding-right:10px;
		display:inline;
		white-space:nowrap;
		color:#1F2636;
	}
	#PageFooter .copyright{
		color:#455877;
		font-size:9px;
		padding:0;
		clear:both;
	}

/*
	Left Nav
*/
	#LeftNav{
		float:left;
		clear:both;
		width:159px;
		text-align:left;
		position:absolute;
		top:150px;
		left:0;
		background-image:url(../images/template/bg_leftSide_2.gif);
		background-repeat:repeat-y;
	}
	#LeftNav .shadow{
		width:159px;
		height:5px;
		background-image:url(../images/template/bg_leftNavShadow_1.gif);
		background-repeat:no-repeat;
		margin:0;
		padding:0;
		float:left;
	}

/*
	Right Nav
*/
	#RightNav{
		float:left;
		clear:both;
		width:150px;
		text-align:left;
		position:absolute;
		top:150px;
		right:0;
		background-image:url(../images/template/bg_rightSide_2.gif);
		background-repeat:repeat-y;
	}

/*
	Catalogue Nav
*/
	
	#NavLeftItems.warehouse{
		width:159px;
	}

/*
	Milonic Padding
*/
	.milonicPad{
		background-color:#003300;
		padding-right:20px;
	}

/*
	Sub Categories Table
*/
table.subCategories,
table.catProducts{
	border:0;
	clear:both;
}
table.subCategories th,
table.catProducts th{
	border-bottom:1px solid #aaaaaa;
	padding:5px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:12px;
	text-align:left;
	color:#666666;
}
table.subCategories td,
table.catProducts td{
	padding:5px;
}
table.catProducts th{
	border:0;
	background-color:#E7EAF0;
	border-bottom:2px solid #C4C7CF;
}
table.catProducts td{
	border:0;
	background-color:#F8F9FC;
	border-bottom:1px solid #C4C7CF;
	font-size:10px;
}
table.catProducts td.price,
.price{
	color:#CC0000;
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
}
div.subCategories,
div.rootCategories{
	width:200px;
	margin:7px;
	text-align:center;
	display:inline;
	float:left;
	text-align:left;
}
div.rootCategories{
	text-align:center;
}
div.categoryDescription{
	width:100%;
}
.left{
	float:right;
	padding-left:100px;
}
.smallGreyText{
	color:#666666;
	font-size:10px;
}
.smallTxt{
	font-size:9px;
}
.oldPrice{
	text-decoration:line-through;
	font-weight:bold;
}
.currentPrice{
	color:#CC0000;
	font-size:14px;
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
}

/*
	Shipping Calculator
*/
#ShippingCalc{
	width:100%;
	padding:5px;
	background-color:#DFE6EF;
	border:1px solid #A0B4CF;
	background-image:url(../images/template/bg_shippingCalc_2.jpg);
	background-repeat:repeat-x;
	background-position:bottom;
}
div.bluebox {
	border:1px solid #A0B4CF;
	background-image:url(../images/template/bg_shippingCalc_2.jpg);
	background-repeat:repeat-x;
	background-position:bottom;
	background-color:#DFE6EF;
	font-size:18px;
	padding:5px;
	margin: 15px 0;
}
table.bluebox{
	border:1px solid #A0B4CF;
	background-image:url(../images/template/bg_shippingCalc_2.jpg);
	background-repeat:repeat-x;
	background-position:bottom;
	background-color:#DFE6EF;
	width:100%;
}
table.bluebox td,
table.bluebox th{
	padding:5px;
}
table.bluebox th{
	text-align:right;
}
div.greybox {
	border:1px solid #aaa;
	background-color:#f6f6f6;
	padding:5px;
	margin: 15px 0;
}
table.greybox{
	border:1px solid #aaa;
	background-color:#f6f6f6;
	width:100%;
}
table.greybox td,
table.greybox th{
	padding:5px;
}
table.greybox th{
	text-align:right;
}
table.whitebox{
	border:1px solid #A0B4CF;
	width:100%;
}
table.whitebox td,
table.whitebox th{
	padding:5px;
}
/*
	Checkout
*/
table.checkoutSelectAddress{
	border:0;
	background-color:#E7EAF0;
}
table.checkoutSelectAddress td{
	padding:0;
	vertical-align:text-top;
	border-bottom:1px dashed #C4C7CF;
}

table.checkoutAddAddress{
	border:1px solid #aaaaaa;
}
table.checkoutAddAddress td{
	padding:5px;
}

table.greyBox{
	border:1px solid #aaaaaa;
	background-color:#E7EAF0;
}
table.greyBox td{
	padding:6px;
}

/*
	productCategories
*/
table.productCategories{
	width:100%;
}
table.productCategories td{
	text-align:center;
	vertical-align:text-bottom;
}

/*
	Account Center
*/
.accountCenterLinks a:link,
.accountCenterLinks a:visited{
	border-left:5px solid #cccccc;
	border-bottom:1px solid #cccccc;
	padding:4px 10px 4px 15px;
	display:block;
	color:#333333;
	text-decoration:none;
}
.accountCenterLinks a:hover{
	background-color:#eeeeee;
	border-left:5px solid #FFA226;
	border-bottom:1px solid #FFA226;
	text-decoration:none;
}

/*
	Invoices
*/
table.invoiceAddresses{
	border:1px solid #aaaaaa;
}
table.invoiceAddresses td p{
	padding:0;
}
table.invoiceAddresses td{
	padding:10px;
	padding-right:15px;
}
table.invoiceAddresses td.change{
	padding:0 0 5px 10px;
}
table.invoiceAddresses td.shipping{
	background-color:#eeeeee;
}
table.invoiceAddresses td.billing{
	background-color:#eeeeee;
}

table.invoicePaymentDetails{
	border:1px solid #aaaaaa;
}
table.invoicePaymentDetails td{
	padding:4px;
	text-align:left;
	border-bottom:1px dashed #eeeeee;
}
table.invoicePaymentDetails th{
	padding:4px;
	font-size:9px;
	text-align:right;
	font-weight:normal;
	color:#666666;
	background-color:#eeeeee;
}

/*
	Checkout Payment
*/
table.checkoutPayment{
	border:1px solid #aaaaaa;
	background-color:#eeeeee;
	width:100%;
}
table.checkoutPayment td{
	padding:5px;
}

.alert{
	padding:4px;
	border:1px solid #C7C900;
	display:block;
	background-color:#FDFFA8;
}

/*
	My Account
*/
table.myAccountOrderHistory{
	width:100%;
	border:0;
	margin:0;
	clear:both;
}

table.myAccountOrderHistory th{
	border-bottom:1px solid #FFA226;
	padding:5px;
	font-weight:bold;
	font-size:10px;
	text-align:left;
	color:#666666;
}
table.myAccountOrderHistory td{
	border-bottom:1px dashed #aaaaaa;
	padding:5px;
	background-color:#eeeeee;
}

/*
	Energy Saving
*/
table.energySavingTable th{
	text-align:left;
	vertical-align:text-top;
	border-bottom:1px solid #aaaaaa;
	font-size:13px;
}
table.energySavingTable td{
	text-align:right;
	border-bottom:1px dotted #aaaaaa;
}

table.cartCoupon{
	border:1px dashed #cc0000;
	width:100%;
	background-color:#FFE8EA;
}
table.cartCoupon td{
	padding:10px;
}

/*
	home promotions
*/
table.homeProducts{
	width:100%;
	border:5px solid #eeeeee;
	border-bottom:4px solid #eeeeee;
	background-image:url(../images/template/bg_page_1.jpg);
	background-repeat:repeat-x;
	clear:both;
}
table.homeProducts th{
	padding:10px;
	border-bottom:1px solid #eeeeee;
	text-align:left;
}
table.homeProducts th p{
	padding:0;
	font-weight:normal;
}
table.homeProducts th img{
	margin-right:10px;
	float:left;
}
table.homeProducts td.leftCell{
	padding:10px;
}
table.homeProducts td.rightCell{
	padding:10px;
}
table.homeProducts td{
	border-top:1px solid #FFFFFF;
	border-bottom:1px solid #eeeeee;
	padding:5px;
	font-size:14px;
}

p.moreLink{
	clear:both;
	float:right;
	background-color:#eeeeee;
	display:inline;
	margin-bottom:15px;
	padding:0;
}
p.moreLink a{
	float:left;
	clear:both;
	display:inline;
	padding:6px 15px 6px 15px;
	border:1px solid #eeeeee;
}
p.moreLink a:hover{
	background-color:#FF9900;
	color:#000000;
	border:1px solid #ffffff;
}

ul.faq li div{
	padding-bottom:15px;
	padding-top:5px;
}
ul.faq li a{
	font-weight:bold;
}
ul.faq li a:hover{
	text-decoration:underline;
}


/*
	Lamp Base Examples
*/

div.baseExample {
	width:87px;
	height:200px;
	margin-left:10px;
	margin-bottom:10px;
	float:left;
}
div.baseExample img {
/*	float: left;*/
width:87px;
height:80px;
}
div.baseExample span.content {
/*	float: left;
*/	padding: 10px;
	font-size: 10px;
	width: 87px;
	height:120px;
	text-align:center;
}
div.baseExample .search{
	background-image:url(../images/searchIcon.gif);
	background-repeat:no-repeat;
}

/* Returns */

div#return-info {
	background-color: #ffc;
	border: 2px dashed #ffd200;
	padding: 5px;
	margin: 0 0 2em 0;
}

div#return-info p#return-info-header {
	font-size: 16px;
	font-weight: bold;
	padding: 5px;
}

/* Nav bars */
/*
	i_content.css
	Product:	Ignition
	Version:	1.0
*/

/*
	Data Table Navigation
*/
.navCell_1,
.navCell_2{
	width:13px;
	height:25px;
	text-align:center;
	color:#243349;
}
.navCell_1 a,
.navCell_2 a{
	color:#243349;
	text-decoration:none;
}
.dataNav_1{
	border-top:1px solid #fff;
}
.dataNav_1 tr{
	background-color:#eee;
	/*background-image:url(../images/bg_dataNav_1.gif);
	background-repeat:repeat-x;*/
}
.dataNav_1 td{
	border-bottom:1px solid #ffffff;
	border-right:1px solid #F3F5F8;
	border-left:1px solid #E0E3E6;
	padding:0 8px 0 8px;
	font-size:10px;
}
.dataNav_1 td a{
	color:#243349;
}
.navCell_2{
	background-color:#FFBB8D;
}
.fade{
	color:#9EA7B1;
}


/* Order Confirmation */

div#orderConfirmation p a {
	font-weight: bold;
	color: #3252A7;
}

div#orderConfirmation p a:hover {
	color: #FC9002;
}

/* Articles */

div.articles h2 {
	font-size: 16px;
	color: #FC9002;
	margin: 0;
}

div.articles p.download {
	font-weight: bold;
	margin: 0;
	padding: 0;
}

div.articles span.sub-text {
	margin: 0;
	padding: 0;
	color: #999;
}

/* Bubble */

table.bubbleInfo{
	border:1px solid #F7DB5A;
	background-color:#FFF0AB;
	width:100%;
	padding:10px;
}
table.bubbleInfo td{
	padding:10px;
}

div.bubblePostage table.bubbleInfo td {
	color: #f00;
	font-size: 1.6em;
	text-align: center;
}

/*
	Text Columns
*/

.TextColumns {
	text-align: left;
}
.TextColumns p {
	line-height: 1.25em;
}
.TextColumnDivider {
	float: left;
	width: 5%;
}
.TextColumn2 {
	float: left;
	width: 100%;
}
.TextColumn3 {
	float: left;
	width: 31.6%;
}
.TextColumn4 {
	float: left;
	width: 23.75%;
}


/*
	List Types
*/

ul, ol {
	margin-top: 0em;
	margin-bottom: 1em;	
}

ul.ListType1 {
	list-style-type: none;
	margin: 0;
	padding: 0;
	border-bottom: 1px dotted #D9D9D9;
}
ul.ListType1 li {
	border-top: 1px dotted #D9D9D9;
	padding: 5px 0 5px 0;
}
ul.ListType1 li a {
	background-image: url(../images/pointer_1.gif);
	background-repeat: no-repeat;
	background-position:left;
	padding: 0 0 0 15px;
	color: #2A599D;
}
ul.ListType1 li a:hover {
	color: #FF9200;
}


/*
	Other Logos
*/

#OtherLogos img {
	margin: 0 10px 0 10px;
}
#OtherLogosLeft {
	float: left;
	padding: 11px 0 11px 0;
}
#OtherLogosCentre {
	text-align: center;
	padding: 10px 0 0 0;
}
#OtherLogosRight {
	float: right;
}
#OtherLogosLightingAssociation {
	float: left;
	padding: 8px 0 9px 0;	
}


/*
	Azexis Logo
*/

#Azexis{
	text-align: center;
	background-image:url(../images/template/logo_azexis_1.gif);
	background-repeat:no-repeat;
	background-position:center center;
	font-size:10px;
	margin-top:7px;
}
#Azexis a{
	display:block;
	padding-left:20px;
	height:41px;
	line-height:41px;
	text-align:left;
}


/*
	Search Results
*/

.SearchResults {
	position: absolute;
	background-color: #fff;
	text-align: left;
	overflow: hidden;
	border-left: 1px solid #999;
	border-right: 1px solid #999;
	border-bottom: 1px solid #999;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	font-family: arial, sans-serif;
	width: 610px;
	z-index:10;
}

.SearchResults table {
	width: 100%;
}

.SearchResults tr {
	color: #000;
}

.SearchResults tr:hover {
	background-color: #f9f9f9;
}

.SearchResults tr td {
	font-size: 13px;
	font-family: arial, sans-serif;
	border-bottom: 1px solid #eee;
}

.SearchResults tr td.ResultReplacements {
	padding: 2px 5px 12px 5px;
}

.SearchResults tr td.ResultOverride,
.SearchResults tr td.ResultOverrideHeader {
	padding: 2px 5px 2px 5px;
}

.SearchResults tr td.ResultLeft,
.SearchResults tr td.ResultRight {
	white-space: nowrap;
}

.SearchResults tr td.ResultLeft a,
.SearchResults tr td.ResultRight a {
	color: #000;
	display: block;
	padding: 2px 5px 2px 5px;
}

.SearchResults tr td.ResultLeft span.ResultLeftSub {
	color: #999;
}

.SearchResults tr td.ResultLeft a:hover {
	color: #f00;
}

.SearchResults tr td.ResultLeft .Match {
	color: #f00;
}

.SearchResults tr td.ResultRight {
	text-align: right;
	font-weight: bold;
	padding-left: 10px;
}

.SearchResults tr td.ResultRight a:hover {
	color: #f00;
}

.SearchResults tr.ResultDirectMatch td a {
	color: #f00;
}

.SearchResults tr.ResultDirectMatch td.ResultLeft a:hover {
	color: #900;
}

.SearchResults tr.ResultDirectMatch td.ResultLeft span.ResultLeftSub {
	color: #ccc;
}

.SearchResults tr.ResultDirectMatch td.ResultRight a:hover {
	color: #900;
}

.SearchResults .Match {
	font-weight: bold;
}

.SearchResults .CloseWindow {
	text-align: center;
	font-size: 13px;
}

.SearchResults .CloseWindow a {
	display: block;
	color: #000;
	padding: 5px;
	font-weight: bold;
}

.SearchResults .CloseWindow a:hover {
	background-color: #666;	
	color: #fff;
}


/*
	Site Warning
*/

#SiteMessage {
	background-image: url(../images/template/scroll_middle_1.gif);
	background-repeat: repeat-x;
	background-position: top;
	margin: 0 0 10px 0;
	font-size: 12px;
	color: #fff;
}

#SiteMessageLeft {
	background-image: url(../images/template/scroll_left_1.gif);
	background-repeat: no-repeat;
	background-position: top left;
}

#SiteMessageRight {
	background-image: url(../images/template/scroll_right_1.gif);
	background-repeat: no-repeat;
	background-position: top right;
	padding: 0 10px 0 10px;
	height: 16px;
}


/*
	Product Reviews
*/

.ratingBarBackground {
	background-color: #FFFFCC;
	width: 100%;
}
	
.ratingBarForeground {
	background-color: #FFE854;
	background-repeat: repeat-x;
	background-image: url(../images/rating_bar_1.gif);
}

table.productReview {
	width: 100%;
	border: none;
	border-collapse: collapse;
	padding: 0;
	margin: 0 0 20px 0;
}

table.productReview td {
	font-size: 1.2em;
	padding: 5px 0 5px 0;
}

.productReviewBox {
	padding: 0 10px 0 0;
}

/*
	Categories
*/

div.categoryGrid {
	margin: 0 auto;
	width:100%;
}

div.categoryGridBox {
	width:70%;
	height: 125px;
	text-align: center;
	padding: 5px;
}
div.categoryGridBox a {
font-size:12px;
}

/*
	Search
*/

.searchGrid {
	float: left;
	width: 100%;
}
.searchGrid .searchAlternative {
	font-size: 12px;
	padding-top: 5px;
}
.searchGrid .searchAlternative a {
	font-size: 14px;
	font-weight: bold;
	color: #000;
}
.searchGrid .searchAlternative a:hover {
	color: #2A599D;
}


/* Recent articles area
*/

.recentArticles {
	color: #555555;
	font-size: 12px;
	position: relative;
}

.recentArticles .allArticles {
	position: absolute;
	top: 0;
	right: 0;
}

.recentArticles .allArticles a {
	color: #000000;
}

.recentArticles h2 {
	color: #5c79bd;
}

.recentArticles h3 a {
	color: #232323;
}

.recentArticles .recentArticle {
	float: left;
	width: 50%;
}

.recentArticles .recentArticle .pad {
	padding: 15px 0;
	border-top: 1px dotted #dddddd;
}

.recentArticles .top .pad {
	border-top: 0;
}

.recentArticles .even .pad {
	padding-left: 15px;
	/*border: 1px dotted #dddddd;*/
}

.recentArticles .odd .pad {
	padding-right: 15px;
	border-right: 1px dotted #dddddd;
}

.recentArticles .articleDate {
	display: block;
	color: #898989;
	padding-bottom: 4px;
	font-size: 95%;
}

.recentArticles .moreLink {
	display: block;
	padding-top: 5px;
}

.recentArticles .moreLink a {
	color: #f98f00;
	font-size: 11px;
}

.statusMessage{
	background-color: #EEEEEE;
	padding:15px;
}

.detailNotification{
	background-color: #FFFFB5;
	padding: 10px

}


/*
	Youtube Video Category list
*/

.videoCatFrame{
	border-bottom: 1px dotted #C3C3C3;
	width:100%;
}

.videoCatFrame.last{
	border-bottom:none;
}

.videoCatFrame .videoThumbnail{
	float: left;
}
.videoCatFrame .videoThumbnail img{
	width:90%;
	}

.videoCatFrame .videoInfo{
	float: left;
	width:90%;
	color: #000;
}

.videoCatFrame .videoInfo h1{
	width: 90%;
}
.videoCatFrame .videoInfo p{
	width: 90%;
}
.videoContent{
width:90%;
margin-top:5px;
}

.videoCatFrame .videoInfo .published,
.videoCatFrame .published{
	width:90%;
	margin-top:5px;
	color: #000;
}

.videoplayer{}
.videoplayer .videoHeading{ color: #2A599D;}
.videoplayer .videoContent{
	float: left;
    width: 90%;
}

#ytplayer{
	float:left;
}
.tempView{}
.tempView .img{padding-left:12px; width:92%;}
.tempView .video{float: left; padding-left:12px; width:92%;}
.video_article{width:95%;}
.paymentNoticeContainer {
	background-color: #FFFBDD;
	border: 1px solid #F3EA9E;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	padding: 5px;
	margin-bottom: 15px;
}
.paymentTypes {
	display: block;
	margin-right: 10px;
	float:left;
}
.paymentType {
	display: block;
	float:left;
	height: 32px;
	width: 51px;
	margin-right: 3px;
	margin-bottom: 3px;
}
.paymentType.visa { background-image: url(../images/payment/visa.png); }
.paymentType.visaelectron { background-image: url(../images/payment/visa-electron.png); }
.paymentType.mastercard { background-image: url(../images/payment/mastercard.png); }
.paymentType.americanexpress {	background-image: url(../images/payment/american-express.png); }
.paymentType.googlecheckout { background-image: url(../images/payment/google-checkout.png); }
.paymentType.laser { background-image: url(../images/payment/laser.png); }
.paymentType.diners { background-image: url(../images/payment/diners-club.png); }
.paymentType.jcb { background-image: url(../images/payment/jcb.png); }
.paymentType.last { margin-right: 0px; }

.paymentNotice p {
	margin-top: 2px;
	padding: 0px;
}
#OtherLogos .paymentTypes {
	float: none;
	display: inline-block;
	margin:0px;
}

.rpHeading{
	color: #F98F00;
	font-size: 14px;
	font-weight: bold;
}

.securePassowrdtips{
	list-style: none;
	padding-left: 10px;
}

.emailExistingWarning {
	background-color: #FFFBDD;
	border: 1px solid #F3EA9E;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	padding: 10px;
	margin-bottom: 15px;
}

.nav-social-links {
	position: relative;
	padding: 4px 0px 5px;
	display: block;
}
.nav-social-links:after {
	clear: both;
}
.nav-social-links .twitter-tweet,
.nav-social-links .google-plusone,
.nav-social-links .facebook-like,
.nav-social-links .blt-rating {
	vertical-align: middle;
	display: inline-block;
	float: right;
	overflow: hidden;
	padding-left: 15px;
	zoom: 1;
	position: relative;
}

.nav-social-links .twitter-tweet { width: 60px; }
.nav-social-links .google-plusone {	width: 72px; }
.nav-social-links .facebook-like { width: 50px; }
.nav-social-links .blt-rating { overflow: visible; }

.nav-social-links .overall-average-product-rating {
	position: relative;
	display: block;
	height: 14px;
	padding: 2px 5px 2px 5px;
	background: #fefefe; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIzNSUiIHN0b3AtY29sb3I9IiNmZWZlZmUiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZGZkZmRmIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
	background: -moz-linear-gradient(top, #fefefe 20%, #dfdfdf 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(20%,#fefefe), color-stop(100%,#dfdfdf)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #fefefe 20%,#dfdfdf 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #fefefe 20%,#dfdfdf 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #fefefe 20%,#dfdfdf 100%); /* IE10+ */
	background: linear-gradient(to bottom, #fefefe 20%,#dfdfdf 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#dfdfdf',GradientType=0 ); /* IE6-8 */
	color: #333333;
	font-size: 11px;
	border: 1px solid #cccccc;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	cursor: pointer;
	vertical-align: middle;
}
.nav-social-links .overall-average-product-rating > p,
.nav-social-links .overall-average-product-rating > span.small-star-rating {
	display: block;
	float: left;
	margin: 0px 1px 0px 0px;
}
.nav-social-links .overall-average-product-rating > span.small-star-rating {
	margin-left: 2px;
}
.nav-social-links .overall-average-product-rating .hover-tooltip {
	position: absolute;
	top: 24px;
	left: 20px;
	z-index: 1;
	width: 185px;
	border: 1px solid #cdcdcd;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	padding: 5px 10px;
	background-color: #fefefe;
	color: #333333;
	visibility: hidden;
	float: none;
	display: inline;
	text-align: center;
}
.overall-average-product-rating.active .hover-tooltip,
.overall-average-product-rating:hover .hover-tooltip,
.overall-average-product-rating:active .hover-tooltip,
.overall-average-product-rating:focus .hover-tooltip {
	visibility: visible;
}

span.small-star-rating, span.small-star-rating span {
	display: block;
	background-image: url(../images/new/product/rating.png);
	background-repeat: repeat-x;
	width: 70px;
	height: 14px;
}
span.small-star-rating span {
	background-image: url(../images/new/product/rating-solid.png);
}
