td,th {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
}
a:link {
	color: #0066FF;
	text-decoration: none;
}
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
	color: #000000;
}
a:active {
	text-decoration: none;
}
h1,h2,h3,h4,h5,h6 {
	font-family: Arial, Helvetica, sans-serif;
}
h1 {
	font-size: 18px;
	color: #000000;
}
div#Close{
	display:inline;
	float:right;
	margin:10px 20px 5px 0;
}

div#Content{
	clear:both;
	margin:5px 20px 20px 20px;
}

/*
	Headings
*/
	h1{
		font:"Myriad", Arial, Helvetica, sans-serif;
		font-size:18px;
		font-weight:normal;
		margin:0;
		padding:0;
	}
	h1.pageTitle{
		margin-top:15px;
	}
	h3{
		font-family:"Myriad", Arial, Helvetica, sans-serif;
		font-size:14px;
		font-weight:bold;
		margin:0;
		padding:0;
	}
	h3.productOptionGroup{
		background-color:#E7EAF0;
		border-bottom:2px solid #C4C7CF;
		padding: 5px 0 5px 10px;
	}
	h3.blue{
		color:#2D588D;
		font-size:14px;
		font-family:"Myriad", Arial, Helvetica, sans-serif;
		font-weight:bold;
	}
/*
	Paragraphs
*/
	p{
		margin:0;
		padding:0;
		padding-bottom:15px;
	}